* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 auto;
}
/* SCROLLBAR */
/* height: calc(100% - 110px);
overflow: hidden;
overflow-y: scroll; */

.container {
  background-color: red;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
}
.container__wrap__90 {
  height: 90%;
  width: 90%;
  background-color: blue;
  display: flex;
}
.contacts {
  height: 100%;
  width: 30%;
  background-color: yellow;
}
.chat {
  height: 100%;
  width: 70%;
  background-color: azure;
}
.contacts__header {
  height: 110px;
  background-color: purple;
  z-index: 3456

}
.contacts__main {

}
