* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 auto;
  font-family: 'Roboto', sans-serif;
}
.container {
  background: linear-gradient(to bottom, #4FB59D 0%,#4FB59D 20%,#000000 20%,lightgrey 20%,lightgrey 100%);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
}
.container__wrap__90 {
  height: 90%;
  width: 90%;
  display: flex;
}
.padding_5 {
  padding: 5px;
}
.padding_10 {
  padding: 10px;
}
.avatar--own {
  height: 55px;
  width: 54px;
  border-radius: 100%;
  padding: 5px;
  margin-left: 5px;
}
.avatar--friend {
  height: 100%;
  width: 16%;
  border-radius: 100%;
}
.clearfloat {
  clear: both;
  position: table;
  content: '';
}
.hide {
  display: none
}
/* CONTACTS */
.contacts {
  height: 100%;
  width: 30%;
}
/* CONTACTS HEADER */
.contacts__header {
  height: 110px;
  background-color: purple;
  z-index: 3456
}
/* CONTACTS HEADER OWN */
.contacts__header__own {
  height: 50%;
  line-height: 55px;
  background-color: #EDEDED;
}
.contacts__header__own__icons {
  float: right;
  height: 100%;
  line-height: 55px;
  padding-right: 15px;
  color: grey;
  font-size: 1.1em;
  word-spacing: 10px;
}
.contacts__header__own__icons i:hover {
  cursor: pointer;
}
.avatar--own:hover {
  cursor: pointer;
}
/* CONTACTS HEADER ALERT */
.contacts__header__alert {
  background-color: lightblue;
  height: 50%;
  padding: 5px 10px 5px 10px;
}
.contacts__header__alert i {
  display: inline-block;
  line-height: 45px;
  height: 45px;
  width: 45px;
  background-color: white;
  text-align: center;
  color: lightblue;
  border-radius: 100%;
}
.contacts__header__alert__text {
  display: inline-block;
  vertical-align: middle;
  font-size: 0.7em;
  line-height: 18px;
  margin-left: 15px;
}
.contacts__header__alert__text--bold {
  font-weight: bold;
}
.contacts__header__alert__text--underlined {
  text-decoration: underline;
}
.contacts__header__alert__text--underlined:hover {
  cursor: pointer;
}
/* CONTACTS MAIN */
.contacts__main {
  height: calc(100% - 150px);
}
/* CONTACTS MAIN SEARCH */
.contacts__main__search {
  height: 40px;
  background-color: #EDEDED;
}
.contacts__main__search i{
  position: relative;
  bottom: 78%;
  left: 2%;
  color: lightgrey;
  font-size: 1.1em;
}
.contacts__main__search__input {
  width: 100%;
  height: 100%;
  border: 1px solid #EDEDED;
  border-radius: 5px;
  padding-left: 30px;
  font-size: 0.8em;
}
/* CONTACTS MAIN CHAT */
.contacts__main__chat {
  background-color: white;
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;
}
.contacts__main__chat__box {
  background-color: white;
  height: 70px;
  width: 100%;
  border-bottom: 1px solid #EDEDED;
  -webkit-box-shadow: 4px 0px 0px 1px rgba(237,237,237,0.91);
  -moz-box-shadow: 4px 0px 0px 1px rgba(237,237,237,0.91);
  box-shadow: 4px 0px 0px 1px rgba(237,237,237,0.91);
}
.contacts__main__chat__box:hover {
  cursor: pointer;
  background-color: #EDEDED;
}
.contacts__main__chat__box__text {
  display: inline-block;
  vertical-align: middle;
  line-height: 24px;
  padding: 0 0 40px 20px;
}
.contacts__main__chat__box__text h6 {
  font-size: 0.85em;
}
.contacts__main__chat__box__text p {
  font-size: 0.75em;
  color: grey;
}
/* CHAT */
.chat {
  height: 100%;
  width: 70%;
}
.chat__header {
  height: 55px;
  background-color: #EDEDED;
  border-left: 1px solid lightgrey;
}
.chat__header__text {
  position: absolute;
  display: inline-block;
  vertical-align: bottom;
  height: 55px;
  line-height: 16px;
  padding-top: 12px;
  padding-left: 16px;
}
.chat__header__text h6 {
  font-size: 0.85em;
}
.chat__header__text p {
  font-size: 0.65em;
  color: grey;
}
.chat__header__icon {
  float: right;
  color: grey;
  line-height: 55px;
  padding-right: 20px;
  font-size: 1.1em;
}
.chat__header__icon i {
  padding-left: 10px;
}
.chat__header__icon i:hover {
  cursor: pointer
}
.chat__header__text h6:hover {
  cursor: pointer;
}
.chat__main {
  height: calc(100% - 110px);
  overflow: hidden;
  overflow-y: scroll;
  background-image: url(../avatars/wp_132.jpg);
  padding: 20px 60px 20px 60px;
  display: none;
}
.chat__main__send {
  min-width: 20%;
  max-width: 80%;
  height: 40px;
  padding: 10px 3px 0px 3px;
  background-color: #DCF8C6;
  float: right;
  border-radius: 15px;
  font-size: 0.75em;
  margin-bottom: 5px;
}
.chat__main__answer {
  min-width: 20%;
  max-width: 80%;
  height: 40px;
  padding: 10px 3px 0px 3px;
  background-color: white;
  float: left;
  border-radius: 15px;
  font-size: 0.75em;
  margin-bottom: 5px;
}

/* .message--top {
  position: absolute;
} */
.message--top p {
  display: inline;
}
.chat__main__answer i,
.chat__main__send i {
  position: relative;
  top: 0;
  visibility: hidden;
}
.chat__main__answer small,
.chat__main__send small {
  font-size: 0.3em;
  text-align: right;
  display: block;
  vertical-align: top;
  padding-right: 5px;
  padding-bottom: 5px;
}
.chat__main__answer:hover i,
.chat__main__send:hover i  {
  visibility: visible;
}
.chat__main__answer i:hover,
.chat__main__send i:hover {
  cursor: pointer;
}

/* CHAT FOOTER  */
.chat__footer {
  height: 55px;
  background-color: #EDEDED;
  display: flex;
}
.chat__footer__emoticon {
  width: 10%;
  text-align: center;
  align-self: center;
  font-size: 1.4em;
  color: grey;
}
.chat__footer__emoticon:hover {
  cursor: pointer;
}
.chat__footer input {
  width: 80%;
  height: 80%;
  border: #EDEDED 1px solid;
  align-self: center;
  font-size: 0.95em;
}
.chat__footer__send {
  width: 10%;
  text-align: center;
  align-self: center;
  font-size: 1.4em;
  color: grey;
}
.chat__footer__send:hover {
  cursor: pointer;
}
.dropdown {
  top: -5px;
  right: 25px;
  position: relative;
  background-color: white;
  list-style: none;
  margin: 0;
  padding: 5px;
  display: none;
}
.dropdown li {
  text-decoration: none;
  margin: 5px;
  color: grey;
}
.dropdown li:hover {
  text-decoration: underline;
  cursor: pointer;
}
.active {
  display: block;
}
.chat_active {
  background-color: lightgrey;
}
