* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 auto;
  font-family: 'Roboto', sans-serif;
}
.container {
  background-color: red;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
}
.container__wrap__90 {
  height: 90%;
  width: 90%;
  background-color: blue;
  display: flex;
}
.padding_5 {
  padding: 5px;
}
.padding_10 {
  padding: 10px;
}
.avatar {
  height: 100%;
  width: 14%;;
  border-radius: 100%;
}
.clearfloat {
  clear: both;
  position: table;
  content: '';
}
/* CONTACTS */
.contacts {
  height: 100%;
  width: 30%;
  background-color: yellow;
}
/* CONTACTS HEADER */
.contacts__header {
  height: 110px;
  background-color: purple;
  z-index: 3456
}
/* CONTACTS HEADER OWN */
.contacts__header__own {
  height: 50%;
  line-height: 55px;
  background-color: lightgrey;
}
.contacts__header__own__icons {
  float: right;
  height: 100%;
  line-height: 45px;
  padding-right: 15px;
  color: grey;
  font-size: 1.1em;
  word-spacing: 10px;
}
/* CONTACTS HEADER ALERT */
.contacts__header__alert {
  background-color: lightblue;
  height: 50%;
  padding: 5px 10px 5px 10px;
}
.contacts__header__alert i {
  display: inline-block;
  line-height: 45px;
  height: 45px;
  width: 45px;
  background-color: white;
  text-align: center;
  color: lightblue;
  border-radius: 100%;
}
.contacts__header__alert__text {
  display: inline-block;
  vertical-align: middle;
  font-size: 0.7em;
  line-height: 18px;
  margin-left: 15px;
}
.contacts__header__alert__text--bold {
  font-weight: bold;
}
.contacts__header__alert__text--underlined {
  text-decoration: underline;
}
/* CONTACTS MAIN */
.contacts__main {
  height: calc(100% - 150px);
}
.contacts__main__search {
  height: 40px;
  background-color: orange;
}
.contacts__main__chat {
  background-color: grey;
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;
}
/* CHAT */
.chat {
  height: 100%;
  width: 70%;
  background-color: azure;
}
.chat__header {
  height: 55px;
  background-color: black;
}
.chat__main {
  height: calc(100% - 110px);
  overflow: hidden;
  overflow-y: scroll;
  background-color: green;
}
.chat__footer {
  height: 55px;
  background-color: lightgreen;
}
