* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 auto;
}
.container {
  background-color: red;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
}
.container__wrap__90 {
  height: 90%;
  width: 90%;
  background-color: blue;
  display: flex;
}
/* CONTACTS */
.contacts {
  height: 100%;
  width: 30%;
  background-color: yellow;
}
.contacts__header {
  height: 110px;
  background-color: purple;
  z-index: 3456
}
.contacts__header__own {
  height: 50%;
  background-color: lightgrey;
}
.contacts__main {
  height: calc(100% - 150px);
}
.contacts__main__search {
  height: 40px;
  background-color: orange;
}
.contacts__main__chat {
  background-color: grey;
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;
}
/* CHAT */
.chat {
  height: 100%;
  width: 70%;
  background-color: azure;
}
.chat__header {
  height: 55px;
  background-color: black;
}
.chat__main {
  height: calc(100% - 110px);
  overflow: hidden;
  overflow-y: scroll;
  background-color: green;
}
.chat__footer {
  height: 55px;
  background-color: lightgreen;
}
