* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 auto;
}

.container {
  background-color: red;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
}
.container__wrap__90 {
  height: 90%;
  width: 90%;
  background-color: blue;
  display: flex;
}
.contacts {
  height: 100%;
  width: 35%;
  background-color: yellow;
}
.chat {
  height: 100%;
  width: 65%;
  background-color: azure;
}
